body {
    color: rgb(187, 238, 241);
    padding: 20px 20px 50px 20px;
    font-size: 2vw;
}

html {
    background: linear-gradient(145deg, rgb(62, 14, 196) 30%, rgb(0, 0, 0) 100%);;
}

.lista {
    border: 2px solid rgba(0,212,255,1);
    border-radius: 10px; 
    border-left-width: 6vw;
}

.etiquetas {
    color: burlywood;
}

#fuente {
    text-align: right;
}

a {
    color: burlywood ;
}

h1 {
    background-image: url('https://thumbs.dreamstime.com/z/banner-de-programaci%C3%B3n-web-concepto-tecnolog%C3%ADa-conexiones-personas-negocios-internet-medios-mixtos-219287770.jpg');

    margin: 20px 0 20px 0;
    text-align: center;
    padding: 50px 0 50px 0;
    font-size: 6vw;
    background-repeat: no-repeat;
    background-size:100%;
    border: 2px solid white;
    -webkit-text-stroke: 1px purple;
    text-shadow: 3px 3px 1px black;
}