#logo {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 1% 1% 5% 1%;
    background: linear-gradient(145deg, rgb(216, 169, 98) 15%, rgb(228, 105, 115) 35%, rgb(144, 137, 235) 65%, rgb(98, 173, 216) 100%);;
}

img {
    height: 15vw;
    padding: 2%;
}

body {
    text-align: justify;
    font-family: 'Acme', sans-serif;
    padding: 2%;
    background: linear-gradient(145deg, rgb(62, 14, 196) 30%, rgb(33, 7, 104) 100%);;
    color: rgb(216, 169, 98);
    font-size: 120%;
    text-shadow: 2px 1px 1px rgb(36, 7, 104);
}

#videos {
    margin-top: 3%;
    margin-right: 20%;
    column-count: 2;
    column-width: 50%;

}